<template name="equippedTemplate">
	<dl class="equipped col-md-4">
		<dt>Equipped Items:</dt>
		<dd class="helm col-md-offset-1">Helm: {{equipped.helm}}</dd>
		<dd class="neck col-md-offset-1">Neck: {{equipped.neck}}</dd>
		<dd class="mainHand col-md-offset-1">Main Hand: {{equipped.mainHand}}</dd>
		<dd class="offHand col-md-offset-1">offHand: {{equipped.offHand}}</dd>
		<dd class="rRing col-md-offset-1">Right Ring: {{equipped.rRing}}</dd>
		<dd class="lRing col-md-offset-1">Left Ring: {{equipped.lRing}}</dd>
		<dd class="gloves col-md-offset-1">Gloves: {{equipped.gloves}}</dd>
		<dd class="chest col-md-offset-1">Chest: {{equipped.chest}}</dd>
		<dd class="belt col-md-offset-1">Belt: {{equipped.belt}}</dd>
		<dd class="leggings col-md-offset-1">Leggings: {{equipped.leggings}}</dd>
		<dd class="boots col-md-offset-1">Boots: {{equipped.boots}}</dd>
		<dd class="potionOne col-md-offset-1">Potion 1: {{equipped.potionOne}}</dd>
		<dd class="potionTwo col-md-offset-1">Potion 2: {{equipped.potionTwo}}</dd>
		<dd class="potionThree col-md-offset-1">Potion 3: {{equipped.potionThree}}</dd>
		<dd class="potionFour col-md-offset-1">Potion 4: {{equipped.potionFour}}</dd>
		<dd class="potionFive col-md-offset-1">Potion 5: {{equipped.potionFive}}</dd>
	</dl>
</template>
