<template name="battle">
  <div class="col-md-10">
    <dl class="characterStats col-md-3">
			<dt>{{name}}:</dt>
      {{#with characterStats}}
  			<dd class="col-md-offset-1">Health: {{currentHealth}}/{{maxHealth}}</dd>
  			<dd class="col-md-offset-1">Mana: {{currentMana}}/{{maxMana}}</dd>
  			<dd class="col-md-offset-1">Attack: {{attack}}</dd>
  			<dd class="col-md-offset-1">Defense: {{defense}}</dd>
      {{/with}}
		</dl>
    <dl class="enemyStats col-md-3">
      {{#with enemy}}
  			<dt>{{name}}:</dt>
  			<dd class="col-md-offset-1">Health: {{stats.hp}}</dd>
  			<dd class="col-md-offset-1">Mana: {{stats.mana}}</dd>
  			<dd class="col-md-offset-1">Attack: {{stats.attack}}</dd>
  			<dd class="col-md-offset-1">Defense: {{stats.defense}}</dd>
      {{/with}}
		</dl>
    <dl id="fight" class="progress-bar-animated bg-success" style="width:10%"></dl>
  </div>
</template>
